
.appStats {
    background-color: rgb(171, 225, 247);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.appNums {
    margin: 1rem;
    display: flex;
    flex-direction: row;    
}

.acceptReject {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.deferWait {
    display: flex;
    flex-direction: column;
}

.innerNums {
    margin: 1rem;
}

.appPercent {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1rem;
}

.innerPercent {
    font-size: 5rem;
    position: relative;
    height: 100%;
}


.appsList {
    background-color: rgb(171, 225, 247);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 66vh;
}

.application {
    margin: 1rem;
    border-radius: 10px;
    background-color: white;
}