.card {
    border-radius: 10px;
    position: relative;
}

.appStats {
    background-color: rgb(171, 225, 247);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.appNums {
    margin: 1rem;
    display: flex;
    flex-direction: row;    
    flex: 1;
}

.acceptReject {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.deferWait {
    display: flex;
    flex-direction: column;
}

.innerNums {
    margin: 1rem;
}

.appPercent {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1rem;
}

.innerPercent {
    font-size: 5rem;
    position: relative;
    height: 100%;
}

.newAppWrap {
    margin: 1rem;
    margin-right: 1rem;
    max-width: 33vw;
    right: 10%;
    flex: 1;
    display: flex;
    border: 2.5px solid black;
    border-radius: 10px;
}

.newAppWrap:hover {
    background-color: #D4E157;
    transition: 0.5s;
    cursor: pointer;
}

.newApp {
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex: 2;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.newAppBtn {
    flex: 2;
    margin-left: 1rem;
    margin-right: 1rem;
}


.newAppBtn i {
    font-size: 3rem;
    top: 50%;
    transform: translateY(75%);
}

.newAppBtn i:hover{
    color: rgb(201, 115, 252);
    transition: 0.25s;
}

.appsList {
    background-color: rgb(171, 225, 247);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 66vh;
}

.application {
    margin: 1rem;
    border-radius: 10px;
    background-color: white;
}

.appModalForm {
    display: flex;
    flex-direction: column;
}

.newAppSchool {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
}

.newAppSchoolText {
    flex: 3;
}

.newAppSchoolInput {
    flex: 3;
    margin-right: 1rem;
}

.newAppSchoolInput input {
    width: 100%;
}

.newAppStatus {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
}

.newAppStatusText {
    flex: 3;
}

.newAppStatusSelect {
    flex: 1;
    margin-right: 1rem;
}