.searchContent {
    display: flex;
    background: url('../../assets/images/bg2.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.searchSideBar {
    flex: 1;
    min-width: 25rem;
    padding: 10px 5px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', monospace;
}

.filterSB {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 25px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.filterHeader {
    display: flex;
    padding: 10px 0px;
}

.majors {
    display: flex;
}

.majors .nameFilter {
    flex: 1;
}

.section {
    flex: 0.2;
}

.toggleWrapper {
    display: flex;
    flex-direction: column;
}

.toggleWrapper div:nth-child(1) {
    color: white;
    font-size: 12px;
}

.strictSwitch input{

}

.location {
    display: flex;
    width: 100%;
}

.locationWrapper {
    flex: 10 !important;
}

.location div {
    flex: 1;
}

.sortingOp {
    flex: 1;
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headingSep {
    color: white;
    font-size: 18px;
}

.sortingOp i {
    flex: 1;
    transition: color 0.5s;
}

.sortingOp i:nth-child(2) {
    position: absolute;
}

.sorting div:nth-child(1) {
    flex: 5;
}

.sorting {
    display: flex;
}

.sortToggle {
    color: #fbff1e;
}

.range {
    display: flex;
}

.disabledRange {
    
}

.disabledRangeInput {
    filter: brightness(0.2);
    pointer-events: none;
}

.disabledRangeInput + .toggleRange {
    color: rgb(138, 138, 138);
}

.disabledRangeInput + .toggleRange i {
    border-color: rgb(138, 138, 138);
}

.rangeInput {
    flex: 7;
}

.toggleRange {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fbff1e;
    position: relative;
}

.toggleRange i{
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    border: 1px solid #fbff1e;
    cursor: pointer;
    transition: background-color 0.25s;
    padding: 6px;
    font-size: 0.75rem;
}

.toggleRange i:hover {
    background-color: rgba(172, 172, 172, 0.25);
}

.toggleRange i:active {
    filter: brightness(0.6);
}

.searchBtn {
    background: transparent;
    border-radius: 3px;
    color: #D4E157;
    font-family: 'Roboto Condensed', monospace;
    text-transform: uppercase;
    padding: 10px;
    max-width: 200px;
    border: 1px solid #D4E157;
    transition: all 0.25s;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    flex: 1;
}

.filterSep {
    flex: 0.25;
}

.filterBtns {
    display: flex;

}

.searchBtn:hover {
    transform: translateY(-3px);
    -webkit-box-shadow: 
    0px 3px #D4E157, /* gradient effects */
    0px 4px #D4E157
}

.searchBtn:focus {
    outline: none;
}

.searchBtn:active {
    transform: translateY(-1px);
    -webkit-box-shadow: 
    0px 1px #D4E157, /* gradient effects */
    0px 2px #D4E157
}

.headingSB {
    display: flex;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.75rem;
    cursor: default;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    align-items: center;
    // margin-bottom: 1rem;
}

.titleSB {
    flex: 5;
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
}

.titleSB::first-letter {
    color: #fbff1e;
    font-size: 40px;
}

.titleSB::after {
    content: " \f25c";
    color: white;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.nameFilter {
    margin-top: 1rem;
}

.nameInput {
    font-family: 'Roboto Condensed', monospace;
    padding: 4px;
    box-sizing: border-box;
    z-index: 2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    border-bottom: 3px solid #fbff1e;
    background: rgba(226, 226, 226, 0.25);
    font-size: 15px;
    color: white;
    width: 100%;
    caret-color: white;
}

.nameInput::placeholder {
    color: rgb(145, 145, 145);
    font-size: 16px;
}

.nameInput:hover {
    background: rgba(172, 172, 172, 0.25);
}

.nameInput:focus {
    outline: none;
}

.stateSelect {
    max-height: 300px !important;
}

.check {
    list-style-type: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: 0.2s;
    border-radius: 10px;  
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.searchMain {
    flex: 2.5;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.cardGrid {
    flex: 15;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 40px rgba(0,0,0, 0.25);
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    overflow: auto;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 1.5rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
    padding: 0px 5px;
  }

  .toggle::after {
      content: "OFF";
      color: white;
      width: 100%;
      text-align: right;
  }

  input:checked + .toggle::after  {
      content: "ON";
      text-align: left;
    color: white;
}
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: 0.3rem;
    bottom: 0.1rem;
    background-color: #fbff1e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: #6d7240;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #d4e157;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  
  /* Rounded sliders */
  
  .toggle.round:before {
    border-radius: 10%;
  }

.paginationWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pagination {
    width: 50%;
    max-width: 700px;
    min-width: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

@keyframes fadeInLeft3 {
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }

    0% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.collegeCard {
    flex: 1;
    display: flex;
    background: #222;
    font-size: 3rem;
    color: rgb(255, 252, 76);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    width: 95%;
    margin: 10px;
    min-height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInLeft 1s;
    animation-fill-mode: both;
}

@media (max-width: 999px) {
    .searchContent {
        flex-direction: column;
    }
    
    .searchSideBar {
        display: none;
    }

    .mobileFilter {
        padding: 1rem;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        color: white;
        font-family: 'Roboto Condensed', monospace;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .mbFilterWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .showRsltsWrap {
        flex: 1;
        align-self: center;
    }

    .filterBtnWrap {
        flex: 1;
    }

    .filterBtn {
        float: right;
        background: transparent;
        border-radius: 3px;
        color: #D4E157;
        font-family: 'Roboto Condensed', monospace;
        text-transform: uppercase;
        padding: 5px;
        width: 40%;
        max-width: 200px;
        border: 1px solid #D4E157;
        transition: all 0.25s;
        cursor: pointer;
        font-size: 20px;
    }
    
    .filterBtn:hover {
        transform: translateY(-3px);
        -webkit-box-shadow: 
        0px 3px #D4E157, /* gradient effects */
        0px 4px #D4E157
    }
    
    .filterBtn:focus {
        outline: none;
    }
    
    .filterBtn:active {
        transform: translateY(-1px);
        -webkit-box-shadow: 
        0px 1px #D4E157, /* gradient effects */
        0px 2px #D4E157
    }
    
    .cardGrid {
        
    }
}

@media (min-width: 1000px) {
    .searchContent {
        flex-direction: row;
    }

    .mobileFilter {
        display:none;
    }
}

.pagination div div {
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.25rem;
    font-weight: bolder;
    transition: all 0.5s;
    background: rgba(226, 226, 226, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Condensed', monospace;
}

.pagination div div:hover {
    transform: translateY(-3px);
}

//PAGINATION BLOCKS
.end {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end i {
    font-size: 3rem;
    color: black;
    transition: color 0.5s;
    cursor: pointer;
}

.end i:hover {
    color: rgb(70, 70, 70);
}

.end {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.active div {
    background: #fbff1e !important;
}

.last {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// RANGE SLIDERS
.rates {
    flex: 1;
    color: #fbff1e;
    font-size: 15px;
    text-align: right;
}

.emptySearch {
    width: 60%;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', monospace;
    padding: 40px;
    color: rgba(255, 255, 255, 0.75);
}

.majorsList {
    overflow-y: scroll;
    max-height: 10rem;
}