.searchContent {
    display: flex;
    background: url('../../assets/images/bg2.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.searchSideBar {
    flex: 1;
    min-width: 20rem;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', monospace;
}

.filterSB {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.location {
    display: flex;
    width: 100%;
}

.locationWrapper {
    flex: 10 !important;
}

.location div {
    flex: 1;
}

.headingSB {
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 1rem;
    cursor: default;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    align-items: center;
    // margin-bottom: 1rem;
}

.titleSB {
    color: white;
    font-size: 28px;
}

.titleSB::first-letter {
    color: #fbff1e;
    font-size: 40px;
}

.titleSB::after {
    content: " \f25c";
    color: white;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.nameFilter {
    margin-top: 1rem;
}

.nameInput {
    font-family: 'Roboto Condensed', monospace;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    border-bottom: 3px solid #fbff1e;
    background: rgba(226, 226, 226, 0.25);
    font-size: 18px;
    color: #222;
    width: 100%;
}

.nameInput::placeholder {
    color: rgb(145, 145, 145);
    font-size: 18px;
}

.nameInput:focus {
    outline: none;
}

.stateSelect {
    max-height: 300px !important;
}

.check {
    list-style-type: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: 0.2s;
    border-radius: 10px;  
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.searchMain {
    flex: 2.5;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}

.cardGrid {
    flex: 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 40px rgba(0,0,0, 0.25);
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    overflow: auto;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.paginationWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pagination {
    width: 50%;
    max-width: 700px;
    min-width: 500px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

@keyframes fadeInLeft3 {
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }

    0% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.collegeCard {
    flex: 1;
    display: flex;
    background: #222;
    font-size: 3rem;
    color: rgb(255, 252, 76);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    width: 95%;
    margin: 10px;
    min-height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInLeft 1s;
    animation-fill-mode: both;
}

@media (max-width: 999px) {
    .searchContent {
        flex-direction: column;
    }
    
    .searchSideBar {
        display: none;
    }

    .mobileFilter {
        padding: 1rem;
        background-color: #d4e157;
    }

    .mbFilterWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .showRsltsWrap {
        flex: 1;
    }

    .filterBtnWrap {
        flex: 1;
    }

    .filterBtn {
        float: right;
    }
    
    .cardGrid {
        
    }
}

@media (min-width: 1000px) {
    .searchContent {
        flex-direction: row;
    }

    .mobileFilter {
        display:none;
    }
}

.pagination div div {
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.25rem;
    font-weight: bolder;
    transition: all 0.5s;
    background: rgba(226, 226, 226, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Condensed', monospace;
}

.pagination div div:hover {
    transform: translateY(-3px);
}

//PAGINATION BLOCKS
.end {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end i {
    font-size: 3rem;
    color: black;
    transition: color 0.5s;
    cursor: pointer;
}

.end i:hover {
    color: rgb(70, 70, 70);
}

.end {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.active div {
    background: #fbff1e !important;
}

.last {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// RANGE SLIDERS
.rates {
    flex: 1;
    color: #fbff1e;
    font-size: 15px;
    text-align: right;
}