.hsPanel {
    background-size: 600%;
    min-height: 95vh;
    height: auto;
    width: 100%;
    background: #222;
}

.hsInnerPanel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/gplay.png');
}

.hsSearch {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s;
}

.hsInputWrapper {
    height: 6rem;
    width: 60%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    background: #222;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hsBtn {
    padding: 10px 15px;
    background: transparent;
    font-family: 'Robot Condensed', monospace;
    font-size: 1.5rem;
    border: 1px solid #D4E157;
    border-radius: 3px;
    color: #D4E157;
    cursor: pointer;
    transition: all ease-out 0.25s;
}

.hsBtn:hover {
    transform: translateY(-3px);
    outline: none;
    -webkit-box-shadow: 
    0px 3px #D4E157, /* gradient effects */
    0px 4px #D4E157
}

.hsBtn:active {
    transform: translateY(0.5px);
    -webkit-box-shadow: 
    0px 0.5px #D4E157, /* gradient effects */
    0px 1px #D4E157
}

.highschools {
    max-width: 550px;
    width: 55%;
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hsDisplay {
    flex: 1 !important;
}

.highschool {
    background: rgb(51, 51, 51);
    border-bottom: 1px solid #222;
    border-top: 1px solid rgb(90, 90, 90);
    width: 100%;
    padding: 8px 25px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', monospace;
    color: #DDDDDD;
    font-size: 1.15rem;
    animation: 0.5s fadeInLeftNew;
}

.highschool:hover {
    background: rgb(68, 68, 68);
}

.highschoolInfo {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 5rem;
}