.select {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', monospace;
    color: white;
    font-size: 14px;
    width: 100%;
    height: fit-content;
    font-weight: 300;
    position: relative;
}

.selector {
    background: rgba(226, 226, 226, 0.25);
    padding: 4px;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 3px solid #fbff1e;
    height: 1rem;
    position: relative;
    transition: all 0.25s;
}

.selector:hover {
    background: rgba(172, 172, 172, 0.25);
}

.selector:focus {
}

.options {
    top: calc(2rem - 3px);
    width: 100%;
    position: absolute;
    z-index: 1000;
    transition: all 0.25s;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #222;
}

.selecting {
    max-height: 12rem;
}

.option {
    background: white;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 5px;
    cursor: pointer;
    transition: all 0.25s;
}

.option:hover {
    background: rgb(202, 202, 202);
}