.applicationWrap {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.applicationHeader {
    display: flex;
    flex-direction: row;
}

.collegeName {
    flex: 2;
}

.editApplication {
    flex: 2;
}

.applicationStatus {
    display: flex;
    flex-direction: row;
}

.applicationStatus {
    flex: 2;
}

.appCollegeInfo {
    flex: 2;
}