.applicationWrap {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.applicationLogo {
    margin-left: 1rem;
    flex: 1;
    background: url(../../assets/images/schoolAppLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.appNameStatusWrap {
    flex: 2;
}

.appSchoolName {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.appStatusWrap {
    display: flex;
    flex-direction: row;
}

.appStatus {
    font-size: 1rem;
    flex: 1;
}

.appStatusFlag {
    font-size: 1rem;
    flex: 3;
}

.editAppLogo {
    flex: 1;
}

.editAppLogo i {
    float: right;
    margin-right: 10%;
    font-size: 2rem;
}

.fa-check-square {
    font-size: 5rem;
}

.editAppLogo i:hover {
    color: orange;
    cursor: pointer;
    transition: 0.5s;
}

