.collegeResult {
    width: 100%;
    position: relative;
}

.collegeHeading {
    flex: 3;
    background: url('../../assets/images/college.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.collegeResultWrap {

    display: flex;
    font-size: .875rem;
    height: 100%;
    overflow: none;
}

.collegeHeadingText {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.collegeHeading div {
    font-size: .875rem;
}


.collegeLogoWrap {
    background-color: white;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0 rgba(48,50,100,.14), 
                0 2px 1px -1px rgba(48,50,100,.14), 
                0 1px 8px 0 rgba(48,50,100,.14);

    order: 1;
    justify-content: center;
    position: absolute;
    display: block;
    top: -3.5rem;
    right: 2.5rem;
}

.collegeLogo {
    display: block;
    height: 4rem;
    width: 4rem;
    border: 0;
    padding: 0;
    margin: auto;
}

.collegeTitle {
    margin-top: 0.2rem;
    font-size: 1.75rem;
    font-family: 'Roboto Condensed', monospace;
    font-weight: bolder;
    margin-bottom: .2rem;
    white-space: nowrap;
}


.collegeDetail {
    margin: 10px;
    flex: 6;
}

.colegeTypeRateWrap {
    div {
        width: 100%;
    }
}

.collegeDetailWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collegeDetailRank {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid #222;
    color: #222;
    margin-right: 2rem;
    position: absolute;
    right: -1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 196, 68);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.collegeRecScore {
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto Condensed', monospace;
    font-size: 1.25rem;
}

.collegeRecScore::after {
    content: "/100";
    font-weight: 600;
    font-size: 0.6rem;
}

.separator {
    flex: 0.8;
    width: 100%;
    height: 101%;
    transform: skew(-15deg) translateX(-50%);
    background: url('../../assets/images/herringbone.png');
    background-repeat: repeat;
    min-width: 50px;
}

.popoutLink {
    cursor: pointer;
}

.collegePopout {

}

